body{
    margin:0;
    background-color: #ffffff;
}


.banner {
    width: 100%;
    height: 834px;
}
/*Banner section*/

.nav_list a {
    padding: 0;
    width: 100%;
    height: 89px;
    color: #c0c0c0;
    text-decoration: none;
    display: block;
}
.nav_list a:hover {
    background-color:red;
        color: #f5fffa
}
.nav_panel {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 89px;
    background: #fa0000;
    background: rgba(255,255,255,0.9);
}

.nav_panel ul {
    display: inline-block;
    position: relative;
    left: 50%;
    margin: 0;
    padding: 0;
}

.nav_list li {
    position:relative;
    left:70%;
    text-align: center;
    line-height: 3.5em;
    margin-right: 20px;
    display:inline-block;
}
.login_btn {
    width: 91px;
    height: 31px;
    text-align:center;
    color: #f5fffa;
    left: 30%;
    background-image: url(i/loginbg.png);
    background-repeat: no-repeat;
}

.login_img {
    position: relative;
    left: 65%;
}
.logo {
    width: 100%;
    height: 100%;
}
.logo_img {
    width: 100%;
    height: 100%;

}

/*Link section*/
.sample_text  {
    height: 238px;
    background-color: #ffffff;
    text-align: center;
}
.sample_text h1{
    font-size: 35px;
}

.sample_text p{
    font-size: 17px;
}
.link_list {
    margin-left: 10%;
    padding: 0;
}
.link_section {
    width: 100%;
}
.link_section li {
    width: 179px;
    height: 179px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(i/link_sprites.png);
    text-align: center;
    position: relative;
}

.link_section li+li {
    margin-left: 10%;
}

.link_list li:hover {
    color: red;
}
.link_list a {
    width: auto;
    height: 100%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-decoration: none;
    display: block;
}


.link_list a:hover {
    background-color: #ff0000;
    background-color: rgba(51, 222, 244, 0.8);
    
}

.link_list .tickets_link {
    background-position: 0 0;
}
.link_list .camera_link {
    background-position: -256px 0;
}
.link_list .beer_link {
    background-position: -503px 0;
}
.link_list .devices_link {
    background-position: -760px 0;
}


/*Bullshit!!!*/
.news1 {
    padding-left: 30%;
}
.news {
    margin-top: 5%;
    margin-left: 10%;

}
.news td {
    margin-left: 10%;
        padding: 10px;
    }







.footer {
    margin-top: 5%;
    width: auto;
    height: 258px;
    background-color: #000000;
    color: #d1d5d3;

}

.footer a{
    text-decoration: none;
     color: #d1d5d3;
}
.footer_table {
    margin: 0;
    margin-left: 10%;
    width: 75%;

}

.footer ul{
    padding: 0;
}
.footer li {
    list-style-type: none;
}