body{
    margin:0;
}
.banner {
    width: 100%;
    height: 70%;
}
.nav_panel {
    position: relative;
    width: auto;
    height: 4em;
    background: #fa0000;
    background: rgba(255,255,255,0.9);
}

.nav_list {
    margin: 0;
}

.nav_list li {
    position:relative;
    left:70%;
    text-align: center;
    line-height: 3.5em;
    margin-right: 10px;
    display:inline-block;
}


a:hover {
    background-color:red;
        color: #f5fffa
}
a {
    padding: 0;
    width: auto;
    height: 4em;
    color: #c0c0c0;
    text-decoration: none;
    display: block;
}
.logo {
    width: 100%;
    height: 100%;
    position: absolute;
}
.logo_img {
    width: 100%;
    height: 80%;

}

.link_list {
    position: relative;
}
