body{
    margin:0;
    background-color: #ffffff;
}


.banner {
    width: 100%;
    height: 834px;
    background-image: url(i/logo2.png);
    background-repeat: no-repeat;
    background-position: center;
}
/*Banner section*/
.nav_logo {
    
    position: absolute;
    left: 10%;
    top: 15px;
}
.nav_list a {
    position: relative;
    padding: 0;
    width: 100%;
    height: 90px;
    color: #c0c0c0;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 17px;
    line-height: 6em;
}


.nav_list a:hover {
    background-color:red;
        color: #f5fffa
}

/*Banner panel*/
.nav_panel {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90px;
    background: #000000;
    background: rgba(248, 244, 244, 0.9);
}

.nav_panel ul {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}

.nav_list li {
    position:relative;
    text-align:center;
    line-height: 4em;
    margin-right: 20px;
    list-style-type: none;
    display:inline-block;
}




.wrapper {
    display: inline-block;
    position: relative;
    width: 30%;
    left: 50%;
    height: 90px;
    text-align: center;
    margin: 0;
    padding: 0;
}




.login_btn {
    display: block;
    position: absolute;
    top: 36px;
    right:0;
    width: 54px; /*87-33*/
    height: 27px;
    line-height: 27px;
    padding: 0 0 0 33px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: left;
    font-size: 16px;
    color: #fff;
    border: none;
    background: url(i/bg_login-button.png) no-repeat 13px 7px #de6d6e;
    text-decoration: none;
    cursor: default;
}

.banner_text {
    position: relative;
    color: #f5fffa;
    text-align: center;
    top: 60%;
    line-height: 5px;
}

.banner_text h1 {

    font-size: 69px;
    text-shadow: 13px 1px 13px black;
}

.banner_text span {

    font-size: 25px;
    text-shadow: 1px 1px 1px black;
}

/**/



/*Link section*/
.sample_text  {
    height: 238px;
    background-color: #ffffff;
    text-align: center;
}
.sample_text h1{
    font-size: 35px;
}

.sample_text p{
    font-size: 17px;
}
.link_list {
    margin-left: 10%;
    padding: 0;
}
.link_section {
    width: 100%;
}
.link_section li {
    width: 179px;
    height: 179px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(i/link_sprites.png);
    text-align: center;
    position: relative;
}

.link_section li+li {
    margin-left: 10%;
}

.link_list li:hover {
    color: red;
}
.link_list a {
    width: auto;
    height: 100%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-decoration: none;
    display: block;
}


.link_list a:hover {
    background-color: #ff0000;
    background-color: rgba(51, 222, 244, 0.8);
    
}

.link_list .tickets_link {
    background-position: 0 0;
}
.link_list .camera_link {
    background-position: -256px 0;
}
.link_list .beer_link {
    background-position: -503px 0;
}
.link_list .devices_link {
    background-position: -759px 0;
}


/*News*/
.news {
    margin: 5% 0 0 10%;
}
.news_row{

    background-color: #de6d6e;
    width: 960px;

}
.news_img {
     background-color: #1f0b0b;
    width: 200px;
    height: 132px;

}

.news_title {

    text-align: left;
}














.footer {
    margin-top: 5%;
    width: auto;
    height: 258px;
    background-color: #000000;
    color: #d1d5d3;

}

.footer a{
    text-decoration: none;
     color: #d1d5d3;
}
.footer_table {
    margin: 0;
    margin-left: 10%;
    width: 75%;

}

.footer ul{
    padding: 0;
}
.footer li {
    list-style-type: none;
}